*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  color: #111;
  background: #fff;
}

.page {
  display: grid;
  row-gap: 6rem; /* section is separated */
  padding-block: 1rem; /* Adds breathing room top & bottom */
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@media (max-width: 640px) {
  .page {
    row-gap: 3.5rem;
  }
}